<div id="<%= dom_id finance %>">
  <p>
    <strong>Child:</strong>
    <%= finance.child_id %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= finance.balance %>
  </p>

  <p>
    <strong>Expenses:</strong>
    <%= finance.expenses %>
  </p>

</div>
